@import '../../styles/variables';

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 0;
    background: $card-gradient;
    border-radius: 1rem;
    overflow-y: hidden;
}

.content_box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    padding: 1rem;
}