@import '../../styles/variables';

.card {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 0;
    background: $card-gradient;
    border-radius: 1rem;
    overflow-y: scroll;

}

.content {
    display: grid;
    text-align: justify;
    padding: 1rem;
}