@import '../../styles/variables';

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    background-color: $background-color;
    overflow-x: hidden;
    overflow-y: hidden;
}

.circle {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 70vw; // 90% от ширины экрана
    height: 70vw; // 90% от ширины экрана, чтобы круг был квадратным
    max-width: 70vh; // Не больше 90% высоты экрана
    max-height: 70vh; // Не больше 90% высоты экрана
    border-radius: 50%;
    aspect-ratio: 1 / 1;

}


.circle_border_wrap {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $button-gradient;
    background-size: 200% 200%;
    -webkit-animation: gradient_anim_hover 1s linear infinite;
    -moz-animation: gradient_anim_hover 1s linear infinite;
    animation: gradient_anim_hover 1s linear infinite;
}

@-webkit-keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}

@-moz-keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}

@keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}


@-webkit-keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 0deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 300deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 360deg;
    }
}

@-moz-keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 225deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 405deg;
    }
}

@keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 225deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 405deg;
    }
}

.circle_center {
    width: 63%;
    height: 63%;
    border-radius: 50%;
    background-color: $background-color;
}

.circle_center {
    width: 63%;
    height: 63%;
    border-radius: 50%;
    background-color: $background-color;
    position: relative;
}

.buttons {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.button {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button:hover {
    background: radial-gradient(rgba(155, 23, 232, 0.48), rgba(92, 14, 138, 0));
}

.buttons #button4 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg) translate(270%);
}

.buttons #button5 {
    transform: translateX(-50%) translateY(-50%) rotate(60deg) translate(270%) rotate(-60deg);
}

.buttons #button6 {
    transform: translateX(-50%) translateY(-50%) rotate(120deg) translate(270%) rotate(-120deg);
}

.buttons #button1 {
    transform: translateX(-50%) translateY(-50%) rotate(180deg) translate(270%) rotate(-180deg);
}

.buttons #button2 {
    transform: translateX(-50%) translateY(-50%) rotate(240deg) translate(270%) rotate(-240deg);
}

.buttons #button3 {
    transform: translateX(-50%) translateY(-50%) rotate(300deg) translate(270%) rotate(-300deg);
}

.page_links {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cancel {
    position: absolute;
    top: 1rem;
    right: 1rem;
}