// src/styles/_variables.scss
$background-color: rgb(29, 28, 36);
$text-color: rgb(229, 222, 255);
$button-gradient: linear-gradient(rgb(72, 66, 102), rgb(53, 47, 83), rgb(34, 28, 64));
$bar-color: rgb(97, 9, 164);
$bar-gradient: linear-gradient(rgb(72, 66, 102), rgb(34, 28, 64));