// src/ui/CircleLink/CircleLink.module.scss
@import '../../styles/variables';

.circle {
    margin: auto;
    display: inline-block;
    width: 63%;
    height: 63%;
    border-radius: 50%;
    vertical-align: middle;
}

.circle_border_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $circle-border-gradient; 
    background-size: 200% 200%;

    -webkit-animation: gradient_anim 20s ease infinite;
    -moz-animation: gradient_anim 20s ease infinite;
    animation: gradient_anim 20s ease infinite;
    -webkit-mask-image: radial-gradient(circle at center, transparent 45%, black 47%);
    mask-image: radial-gradient(circle at center, transparent 45%, black 47%);
}

.circle_border_wrap:hover {
    -webkit-animation: gradient_anim_hover 1s linear infinite;
    -moz-animation: gradient_anim_hover 1s linear infinite;
    animation: gradient_anim_hover 1s linear infinite;
}

.circle_center {
    width: 63%;
    height: 63%;
    border-radius: 50%;
    background-color: $bar-color;
}

@-webkit-keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}

@-moz-keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}

@keyframes gradient_anim {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    25% {
        background-position: 70% 30%;
        rotate: 10deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 20deg;
    }

    75% {
        background-position: 95% 20%;
        rotate: 15deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 45deg;
    }
}


@-webkit-keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 0deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 300deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 360deg;
    }
}

@-moz-keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 225deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 405deg;
    }
}

@keyframes gradient_anim_hover {
    0% {
        background-position: 10% 0%;
        rotate: 45deg;
    }

    50% {
        background-position: 91% 100%;
        rotate: 225deg;
    }

    100% {
        background-position: 10% 0%;
        rotate: 405deg;
    }
}