$bar-color: rgb(97, 9, 164);
$button-gradient: linear-gradient(rgb(124, 2, 199), rgb(192, 87, 239), rgb(254, 117, 255));
$background-color: rgba(0, 0, 0, 0);

.ContentOnPage {
	background-color: $background-color;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 1rem;
	width: 100%;
	height: 100%;
}